.orders {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.order {
    background-color: rgb(241, 237, 237);
    height: 60px;
    margin: 10px 10px 0px 10px;
    align-items: center;
    cursor: pointer;
}

.order:hover{
    background-color: #3E9920;
    color: #FFF;
    transition: 0.3s;
}


div.client{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    pointer-events:none;
}

div.total{
    width: 20%;
    height: 100%;
    border-radius: 0px;
    border-left: 1px solid #000000;
    pointer-events:none;
}

.expand {
    background-color: #000000;
    margin: 0px 10px 10px 10px;
}

.main {
    display: flex;
}

.active {
    background-color: #3E9920;
    color: #FFF;
}